body {
  background: url("http://www.wallpaperup.com/uploads/wallpapers/2014/09/25/455922/big_thumb_1dee4df1af48f1fa9e6bd50618b4fbc9.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

hr {
  border: 0;
  width: 80%;
  color: #f00;
  background-color: #ff794d;
  height: 5px;
}

h1 {
  font-size: 600%;
  font-weight: bold;
  font-family: monospace;
  color:#4da6ff;
  animation-duration: 3s;
 animation-name: slidein;
 padding-bottom: 40px;
   text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);

}

@keyframes slidein {
 from {
   margin-left: 100%;
   width: 300%;
 }

 to {
   margin-left: 0%;
   width: 100%;
 }
}

ul {
  font-size: 40px;
  color: white;
}

.person {
  font-size: 40px;
  color: white;
  font-style: normal;
  font-family: monospace;
  margin: center;

}

#name{
  padding: 5px;
font-family: roman;
letter-spacing: 3px;
font-size: 2vh;
border-radius: 25px;
}
#name:hover{
  padding: 5px;
font-family: roman;
letter-spacing: 3px;
font-size: 2vh;
color: black;
border-radius: 25px;
}


#getName {
  background: green;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;;
 left:20%;
 right:20%;
 bottom:5%;
 top:60%;
 font-size: 19px;
 text-align:inherit;

}
